body{
    background-image: url('');
    background-size: contain;



    height: 100vh;
    padding:0;
    margin:0;
}

.header_book{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244,208,49);
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;


}

.ul_header{

    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.li_header{
    padding-left: 15px;
    padding-right: 15px;
}

.a_header{
    padding-right: 3px;
    padding-left: 3px;
    text-decoration: none;
    font-family: Roboto;
    font-size: 140%;
    color: black;
}

.a_header:hover{
    color: rgb(244,208,49);
    background-color: black;
}

.footer_book{
    margin-top: 20px    ;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(244,208,49) ;
}

.p_book{
    padding-right: 7px;
    padding-left: 7px;
    cursor: pointer;
    font-family: Roboto;
}

.p_book:hover{
    color: white;
}

.home_book{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 25rem;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.homed_book{

    height: 90%;
    width: 30rem;
}

.img_home{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;

}
.list_book{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listed_book{
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    marging-top: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.img_list{
    width: max-content;
    object-fit: cover;
}

.h1_list{
    font-family: Roboto;
    font-size: 300%;
}

.author_list, .date_list, .a_list{
    font-family: Roboto;

}

.a_list{
    text-decoration: none;
    border: solid 3px black;
    color: black;
    border-radius: 25px;
    background-color: rgb(244,208,49);
    padding-left: 5px;
    padding-right: 5px;
}

.a_list:hover{
    color: rgb(244,208,49);
    background-color: black;

}
#side-bar {
    position: absolute;
    width: 230px;
    height: 100%;
    background: black;
    top: 0;
    left: -230px;
    transition: 0.5s ease-out;
    z-index: 4;
}
.toggle-btn {
    position: absolute;
    top: 30px;
    left: 240px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.toggle-btn span {
    width: 60px;
    height: 7px;
    border-radius: 5px;
    background: black;
    display: block;
    margin-top: 4px;
    transition: 0.3s ease;
}
.li_sidebar, .a_side_bar {
    color: rgb(244,208,49);
    list-style: none;
    font-size: 2.5rem;
    cursor: pointer;
    padding-left: 5px;
    font-family: Roboto;
}
.a_side_bar{
    text-decoration: none;
}
li:hover {
    background: rgb(244,208,49);
}
#side-bar.active {
    left: 0;
}
#side-bar.active span {
    position: absolute;
}
#side-bar.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
}
#side-bar.active span:nth-child(2) {
    opacity: 0;
}
#side-bar.active span:nth-child(3) {
    transform: rotate(-45deg);
}
#side-bar.active ~ .content {
    opacity: 0.3;
}
.a_side_bar:hover{
    color: black;
}
.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {

    stroke-width: 6px;
    fill: transparent;
    stroke: black;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}
/*
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
    margin-top: -35px;
    text-align: center;
}

#text a {
    font-family: Roboto;
    color: black;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
}
/*
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: black;
}


