{% extends 'admin/base.html.twig' %}
{% block meta_title %}Author Added!{% endblock meta_title %}
{% block main_book %}
    <div class="list_book">
        <div class="listed_book">
            <br>
                {{ form(authorForm) }}
            <br>
                <a class="a_list" href="{{ path('admin_author_list') }}">Retour</a>
            <br>
    </div>
        </div>
{% endblock main_book %}