{% extends 'admin/base.html.twig' %}
{% block meta_title %}Author Updated{% endblock meta_title %}
{% block main_book %}
    <div class="list_book">
        <div class="listed_book">
            <br>
            {{ form(authorForm) }}
            <br>
            <a class="a_list" href="{{ path('admin_list_book') }}">Retour</a>
            <br>
        </div>
    </div>
{% endblock main_book %}