{% extends 'base.html.twig' %}
{% block meta_title %}Author Deleted{% endblock meta_title %}
{% block main_book %}
    <br>
    <br>
    <h1 class="h1_list">L'auteur a bien été Supprimé!</h1>
{% endblock main_book %}