{% extends 'base.html.twig' %}
{% block meta_title %}Book Deleted!{% endblock meta_title %}
{% block main_book %}
    <br>
    <br>
    <h1 class="h1_list">Le livre a bien été supprimé!</h1>
{% endblock main_book %}