{% extends 'base.html.twig' %}
{% block meta_title %}Book{% endblock meta_title %}
{% block main_book %}
    <div class="list_book">
        <article class="listed_book">
            <h1 class="h1_list">{{ book.title }}</h1>
            <p class="author_list">{{ book.author }}</p>
            <br>
            <a class="a_list" href="{{ path('list_book') }}">Retour</a>
        </article>
    </div>
{% endblock main_book %}
