{% extends 'base.html.twig' %}
{% block meta_title %}Book Added!{% endblock meta_title %}
{% block main_book %}
    <br>
    <br>
    <h1 class="h1_list">Le livre a bien été enregistré</h1>
{% endblock main_book %}