{% extends 'base.html.twig' %}
{% block main_book %}
        <div class="home_book">
            <div class="homed_book">
                <img class="img_home" src="https://www.thirdeditions.com/1522-large_default/les-visions-de-dune-dans-les-creux-et-sillons-d-arrakis.jpg" alt="">
            </div>
            <div class="homed_book">
                <img class="img_home" src="https://static.vecteezy.com/ti/vecteur-libre/p3/126472-bright-welcome-home-letterings-vectoriel.jpg" alt="">
            </div>
            <div class="homed_book">
                <img class="img_home" src="https://media.istockphoto.com/photos/snowman-picture-id629653980" alt="">
            </div>
        </div>
 {% endblock main_book %}