{% extends 'base.html.twig' %}
{% block meta_title %}Home{% endblock meta_title %}
{% block main_book %}
        <div class="home_book">
            {% for book in books %}
                <div class="home_book">
                    <div class="homed_book">
                        <img class="img_home" src="{{ book.image }}">
                    </div>
                </div>
            {% endfor %}
        </div>
 {% endblock main_book %}